#872D09 #EB6E13 #FC9F2D #E8AC3A #FCEEC5

body {
	background-color: #E8AC3A;
}

nav {
	/* background-color: #872d09; */
	color: #EB6E13;
}

.options{
	font-size: 22px;
	text-shadow: black 1px 1px 1px;
}

.options:hover
{
	color: #E8AC3A;
}

hr{
	border-color: #FC9F2D;
	box-shadow: 1px 1px 1px 1.5px #E8AC3A;
	padding: .5px;
}

#logosFooter
{
	background-color: #872d09;
	color: whitesmoke;
}

